<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:bean="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--目标对象-->
    <bean id="target" class="com.qyj.aop.Target"></bean>

    <!--切面对象-->
    <bean id="myAspect" class="com.qyj.aop.MyAspect"></bean>

    <!--织入关系:告诉spring哪些方法(切点)需要进行哪些增强(前置,后置...)-->
    <bean:config>
        <!--声明切面-->
        <aop:pointcut id="targetPointcut" expression="execution(public void com.qyj.aop.Target.save())"/>
        <aop:aspect ref="myAspect">
            <aop:around method="around" pointcut-ref="targetPointcut"/>
            <aop:before method="before" pointcut-ref="targetPointcut"/>
            <aop:after-returning method="afterReturning" pointcut-ref="targetPointcut"/>
            <aop:after-throwing method="afterThrowing" pointcut-ref="targetPointcut"/>
            <aop:after method="after" pointcut-ref="targetPointcut"/>
        </aop:aspect>
    </bean:config>

</beans>