<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-_tx:war exploded">
    <output-path>$PROJECT_DIR$/spring-_tx/target/spring-_tx</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>spring-_tx</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-tx_xml" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring-tx_xml/target/spring-_tx/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-tx_xml/web/Web" />
    </root>
  </artifact>
</component>